<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <div class="container1">
      <h1>
        <% if (currentUser) { %>
        Welcome <%= currentUser.username%>!
      </h1>
      <div class="index-index">
      <h3>
        <a class="index-index amber-text" href="/app">Start Loggin'</a>
      </h3>
      <form class="index-index" action="/sessions?_method=DELETE" method="POST">
        <input class="index-index logout waves-effect waves-light btn-small" type="submit" name="" value="Log Out">
      </form>
      </div>
      <% } else { %>
        <div class="splash">
        <h1>Welcome to 8-Bit Backlog</h1>
          <h3 class="amber-text">Now You're Loggin' With Power<h3>
          <div class="splash-button">
          <h5><a class="waves-effect waves-light btn purple accent-2" href="/users/new">Sign Up</a></h5>
          <a class="waves-effect waves-light btn purple accent-2" href="/sessions/new">Log In</a>
        </div>
        </div>
          <% } %>
          <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
          <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div> -->
      </div>
    </div>
  </body>
</html>
