<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Add Game To Log</h1>
        <form action="/games" method="POST">
            Name: <input type="text" name="name" /><br/>
            Console: <input type="text" name="console" /><br/>
            Year: <input type="text" name="year" /><br/>
            Notes: <textarea name="notes" rows="8" cols="80"></textarea><br/>
            <h3>Genres</h3>
            Action: <input type="checkbox" name="action" /><br/>
            Puzzle: <input type="checkbox" name="puzzle" /><br />
            RPG: <input type="checkbox" name="rpg" /><br /><br />
            Sports: <input type="checkbox" name="sports" /><br />
            <input type="submit" name="" value="Post Game"/>
        </form>
    </body>
</html>
