/* General Styling */
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

h1 {
  text-align: center;
  font-family: 'Righteous';
  margin-top: 0;
}

body {
  background-image: url(http://i.imgur.com/Seorhg1.jpg);
  color: white;
  font-family: 'Righteous';
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
    flex: 1 0 auto;
}

input {
  color: white;
  font-family: 'Righteous';
}

textarea {
  color: white;
}

/* Splash Page Styling */

.index-index {
  margin: 0 auto;
  font-family: 'Righteous';
  text-align: center;
}

.index-index a {
  text-decoration: underline;
}

.splash h1 {
  margin-top: 30px;
}

.splash h3 {

}

.splash-button {
  display: inline-block;
}

/* Log in/Sign up Page Styling */
.container-signup {
  text-align: center;
  margin: 0 auto;
  /* margin-left: 200px; */
  width: 22.5%;
}

.signup-login-row {
  text-align: center;
  margin-left: 200px;
  width: 30%;
}

.login-h1{
  text-align: center;
  margin: 0 auto;
}

/* Nav styling */
nav {
  background-color: rgb(220,20,60);
}


/* Header Styling */
header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 10px;
  width: 95%;
}

.logout {
  background-color: rgb(186,85,211);
}
/* Card Styling */

.container {
  display: flex;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.card {
  width: 200px;
  height: 50px;
  margin-bottom: 200px;
  margin-right: -10px;
  /* background-color: rgb(192,192,192); */
}

.card-content {
  background-color: rgb(186,85,211);
  height: 20px;
  border-radius: 0px;
}


.card-content p {
  margin-bottom: 20px;
  text-align: left;
}

.card-action {
  display: flex;
  justify-content: center;
  font-size: 10px;
  background-color: rgb(186,85,211);
}

.c-text {
  margin-bottom: -20px;
  margin-top: -20px;
  text-align: left;
  width: 200px;
  margin-left: -20px;
}

/* .c-text p {
  width: 100%;
  word-wrap: break-word;
} */

.row {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.card-image img {
  height: 150px;
}

.col {
  text-align: center;
  /* margin: 0 auto; */
  /* width: 22.5%; */
}


.delete-font {
  color: rgb(186,85,211);
  font-family: 'Righteous';
  border: none;
  cursor: pointer;
}

.delete-font input {
  font-family: 'Righteous';
  background-color: rgb(186,85,211);

}

/* Show Page Styling */

.show-container {
  text-align: center;
}

.show-container img {
  height: 20%;
  width: 40%;
}

.show-container h3 {
  font-size: 30px;
}

.show-container p {
  font-size: 20px;
}

.show-container li {
  font-size: 20px;
}

/* New/Edit Pages Styling */

.new-form-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.new-form-container h3 {
  font-size: 20px;
}
.new-form-container form {
  font-size: 20px;
  margin-bottom: 0px;
}
.new-form {
  width: 60%;
  margin-left: 25%;
  /* margin-right: -200px; */
  font-family: 'Righteous';
}

.check-out {
  margin-right: 25%;
  /* margin-left: 0px; */
}

.check-out h3 {
  font-size: 25px;
  margin-bottom: -10px;
}

.check-out1 h3 {
  margin-bottom: 20px;
}

.check-out span {
  font-size: 20px;
}
.new-form input {
  font-family: 'Righteous';
}

.new-form textarea{
  font-family: 'Righteous';
}

.post {
  margin-top: 10px;
}

.edit-genre {
  marging-top: 10px;
}
/* footer styling */
 footer {
  text-align: center;
  /* background-color: rgb(220,20,60); */
  margin-top: 10px;
}
