<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <h1>Add Game To Log</h1>
        <form action="/app" method="POST">
            Name: <input class="font" type="text" name="name" /><br/>
            Console: <input class="font" type="text" name="console" /><br/>
            Year: <input class="font" type="text" name="year" /><br/>
            Image URL: <input class="font" type="text" name="img" value=""><br />
            Notes: <textarea class="font" name="notes" rows="8" cols="80"></textarea><br/>
            <h3>Genres</h3>
            Action: <input type="checkbox" name="action" /><br/>
            Puzzle: <input type="checkbox" name="puzzle" /><br />
            RPG: <input type="checkbox" name="rpg" /><br />
            Sports: <input type="checkbox" name="sports" /><br />
            <input type="submit" name="" value="Post Game"/>
        </form>
     </body>
</html>
