<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
      <main>
        <h1>Add Game To Log</h1>
        <div class="new-form-container">
          <div class="fill-in">
        <form class="new-form" action="/app" method="POST">
            Name: <input class="font" type="text" name="name" /><br/>
            Console: <input class="font" type="text" name="console" /><br/>
            Year: <input class="font" type="text" name="year" /><br/>
            Image URL: <input class="font" type="text" name="img" value=""><br />
            Notes: <textarea class="font" name="notes" rows="8" cols="80"></textarea><br/>
          </div>
          <div class="check-out">
            <h3 class="h3-large">Genres</h3>
            <br />
            <label>
              <input type="checkbox" name="action" />
              <span class="span white-text">Action</span>
            </label>
            <br/>
            <label>
              <input type="checkbox" name="puzzle" />
              <span class="span white-text">Puzzle</span>
            </label>
            <br/>
            <label>
              <input type="checkbox" name="rpg" />
              <span class="span white-text">RPG</span>
            </label>
            <br/>
            <label>
              <input type="checkbox" name="sports" />
              <span class="span white-text">Sports</span>
            </label>
            <br/>
            <input class="purple accent-2 post btn-large" type="submit" name="" value="Post Game"/>
          </div>
        </form>
      </div>
    </main>
    <footer class="red darken-1 show-footer">
      <div class="show-link">
        <a href="/app">Back to Game Log</a>
      </div>
    </footer>
  </body>
</html>
