<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
    <body>

        <h1 class="login-h1">Log In</h1>
        <div class="container-signup">
        <div class="row signup-login">
          <form class="col input-login" action="/sessions" method="POST">
            <div class="row signup-login-row">
              <div class="input-field col">
                <input placeholder="Placeholder" id="username" type="text" class="validate li-input" name="username" required>
                <label for="username">User Name</label>
              </div>
            </div>
            <div class="row signup-login-row">
              <div class="input-field col">
                <input id="password" type="password" class="validate" name="password" required>
                <label for="password">Password</label>
              </div>
            </div>
            <button class="login-create-btn btn-large waves-effect waves-light purple accent-2" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
    </body>
</html>
